.breadcrumb{
    background-color: #F9F9F9;
    padding-left: 110px;
}
.breadcrumb ol{
    padding: 20px 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.breadcrumb ol li{
    padding: 0 6px;
}
.breadcrumb ol li::after{
    content: ' /';

}
.breadcrumb ol li:last-child{
    font-weight: 600;
}
.breadcrumb ol li:last-child:after{
    content: '';
}
.breadcrumb ol li a{
    padding: 0 6px;
    text-decoration: none;
    color: #000;
}


.menu_container{
    display: flex;
    padding: 50px 120px;
}

.menu_container .category_sub_left{
    width: 224px;
    display: flex;
    flex-direction: column;

}
.menu_container .category_sub_left div{
    margin: 8px 0;
}
.menu_container .category_sub_left div h2{
    border-top: 1px solid #AEAEAE;
    background-color: #F9F9F9;
    color: #AEAEAE;
    line-height: 32px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 7px;
    margin-bottom: 14px;
}

.menu_container .category_sub_left div ul{
    padding: 0 20px;
    list-style: none;
}
.menu_container .category_sub_left div ul li{
    padding: 7px 0;
    font-size: 14px;
}

.menu_container .category_sub_left div ul li a{
    text-decoration: none;
    color: #000;
}


.menu_container .category_sub_right{
    flex: 1;
    margin-left: 24px;
}

.menu_container .category_sub_right h2{
    padding: 10px 0 20px;
}
.menu_container .category_sub_right .category_sub_layout{
    display: grid;
    
    gap: 14px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu_container .category_sub_right .category_sub_layout .card a{
    text-decoration: none;
    
    color: #000;
}

.menu_container .category_sub_right .category_sub_layout .card a .card_img{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
    border-radius: 16px;
}
.menu_container .category_sub_right .category_sub_layout .card a .card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu_container .category_sub_right .category_sub_layout .card a .card_text{
    padding: 5px;
    
}
.menu_container .category_sub_right .category_sub_layout .card a .card_text .product_name{
    font-weight: 500;
    font-size: 16px;
}
.menu_container .category_sub_right .category_sub_layout .card a .card_text .product_price{
    font-weight: 700;
    font-size: 18px;
    padding-top: 3px;
    
}