.signin {
    padding: 50px 0;
    max-width: 550px;
    margin: 0 auto;

}
.signin h1{
    font-size: 28px;
    text-align: center;
    padding: 10px 0 40px;

}
.signin .signin_container {
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,.07), 0 4px 5px rgba(0,0,0,.06), 0 1px 10px rgba(0,0,0,.1);
}
.signin .signin_container form .fieldBase{
    border: none;
    margin: 30px 0;
    position: relative;
    max-width: 500px;
    height: 50px;
    outline: none;
    border-radius: 10px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(0,0,0,.4);
}

.signin .signin_container form .fieldBase label{
    position: absolute;
    top: 2px;
    left: 0px;
    pointer-events: none;
    scale: 1.03;
    transition: all 0.3s ease;
    background: #fff;
    padding: 0 6px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,.58);
}
.signin .signin_container form .fieldBase div{
    width: 100%;
    position: relative;
}
.signin .signin_container form .fieldBase div input{
    width: 100%;
    /* flex-shrink: 0; */
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 18px;
}
.signin .signin_container form .fieldBase .input_password .show_password{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0px;
    cursor: pointer;
    right: 0px;
}
.signin .signin_container form .fieldBase .input_password .show_password svg{
    width: 24px;
    color: #888;
    /* z-index: ; */
}

.signin .signin_container form .fieldBase div input:focus ~ label,
.signin .signin_container form .fieldBase div input:valid ~ label{
    /* background-color: black; */
    transform: translateY(-26px);
    scale: 1;
    transition: transform 0.3s ease;
}
.signin .signin_container form .forget {
    display: flex;
    flex-direction: column;
}
.signin .signin_container form .forget a{
    text-decoration: underline;
    color: #00754a;
    font-weight: 500;
    padding: 4px 0;
}
.signin .signin_container form .forget a:hover{
    text-decoration: none;
}
.signin .signin_container form .btn_signin{
    padding: 30px 0 0;
    text-align: right;
}
.signin .signin_container form .btn_signin input{
    cursor: pointer;
    background-color: #00754a;
    padding: 14px 22px 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
    border: none;
    border-radius: 999px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.signin .join_starbucks_rewards{
    text-align: center;
    padding: 40px 0 0;
}
.signin .join_starbucks_rewards h2{
    color: #00754a;
    font-size: 16px;
    letter-spacing: 1.2px;
    font-weight: 800;
}
.signin .join_starbucks_rewards p{
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 500;
}

.signin .join_starbucks_rewards a{
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px 11px;
    font-weight: 600;
    color: #00754a;
    font-size: 14px;
    border: 1px solid #00754a;
    border-radius: 999px;
}
.signin .join_starbucks_rewards a:hover{
    background-color: #00754a2b;
}